@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../css-utility/forwardCss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  background-image: linear-gradient(
    $Very-Pale-Blue--Top-BG-Pattern 25%,
    $White--BG 0
  );

  @media screen and (max-width: 500px) {
    background-image: linear-gradient(
      $Very-Pale-Blue--Top-BG-Pattern 10%,
      $White--BG 0
    );
  }
}

.body--container {
  width: inherit;
  color: $Dark-Grayish-Blue--Text;
  padding: 1.5rem;
}

.dark-mode-active {
  .body--container {
    width: inherit;
    color: $Desaturated-Blue--Text;
    background-image: linear-gradient(
      $Very-Dark-Blue--Top-BG-Pattern 25%,
      $Very-Dark-Blue--BG 0
    );
    @media screen and (max-width: 500px) {
      background-image: linear-gradient(
        $Very-Dark-Blue--Top-BG-Pattern 10%,
        $Very-Dark-Blue--BG 0
      );
    }
  }
}
